@import "./normalize";
@import "./vars";
@import "./fonts";
@import "./mixins";

html{
    font-size: 10px;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    background: url(../images/bgHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    width: 854px;
    margin: 0px auto;

    & .top-header{ 
        @include flexible();
        flex-direction: row;
        justify-content:space-between;
        padding-top: 4rem;

        & p{
            color: rgba(255, 255, 255, 1);
            font-size: 1.8rem;

            & > a{
                -webkit-text-decoration-line: underline;
                        text-decoration-line: underline;
                -moz-text-decoration-line: underline;
                color: inherit;
}
        }
    }
    
    & .title-header{
        @include flexible();
        justify-content:center;
        flex-direction: column;

        & h1{
            font-size: $h1Size;
            color: white;
            padding-top: 10rem;
            margin:0;
        }

        & p{
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 2.4rem;
            color: rgba(255, 255, 255, 0.75);
            width:560px;
            text-align: center;
            padding-top: 3.2rem;
        }

        & div{
            @include flexible();
            flex-direction: row;

            & button:nth-child(1){
                @include buttonTrans();
                padding: 1.4rem 3.2rem;

                & a{
                    @include link();
                    color: #fff;
                }
            }

            & button:nth-child(2){
                @include button();
                margin-left: 3.2rem;
                & a{
                    @include link();
                }
            }
        }
    }

    & .video-header{
        @include flexible();
        justify-content: center;
        padding-top: 8rem;

        & > video{
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
        }
    }

    & .hero-form{
        position: relative;
        top: 3.2rem;
        @include flexible();
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        background: linear-gradient(105.14deg, #FFFFFF 0.34%, #F3F4F9 48.48%), #F3F4F9;
        box-shadow: 0px 1px 1px rgba(47, 48, 53, 0.1), 0px 2px 6px rgba(47, 48, 53, 0.1);
        border-radius: 1.6rem;
        -webkit-border-radius: 1.6rem;
        -moz-border-radius: 1.6rem;
        -ms-border-radius: 1.6rem;
        -o-border-radius: 1.6rem;
        padding: 1.2rem 1.2rem 2.5rem 1.2rem;
        margin: 0px auto;
        width: 720px;

        & .hero-form__description{
            padding-right: 4.8rem;
            & h2{
                font-size: $h2Size;
            }

            & p{
                @include paragraph();
                color: #86899B;
                max-width: 276px;
            }

            & ul{

                & li{
                    font-weight: bold;
                    @include paragraph();
                    color: #2134B2;
                    margin-left: -2rem;

                    & span{
                        color: #2F3035;
                    }
                }
            }
        }

        & form{
            @include flexible();
            flex-direction: column;
            align-items: normal;
            
            & fieldset{
                @include flexible();
                flex-direction: column;
                align-items: flex-start;
                background:transparent;
                border: none;

                & label{
                    font-weight: bold;
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color: #2F3035;
                    padding: 1.6rem 0 1rem 0;
                }

                & input{
                    background: #FFFFFF;
                    box-shadow: 0px 1px 1px rgba(47, 48, 53, 0.1), 0px 2px 4px rgba(47, 48, 53, 0.1);
                    border-radius: 8px;
                    padding: 1.4rem 0 1.4rem 0.9rem;
                    font-size: 2rem;
                    line-height: 2rem;
                    color: #86899B;
                    width: 300px;
                    font-weight: normal;
                }
            }

            & > input{
                @include button();
                margin-top: 3.2rem;
            }

        }
    }

    & > .mainFeatures{
        @include flexible();
        align-items: flex-start;
        padding-top: 10rem;

        & > .mainFeatures__description{
            & > .mainFeatures__preTitle{
                font-weight: bold;
                font-size: 1.6rem;
                line-height: 1.6rem;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #86899B;
            }

            & > h2{
                font-size: $h2Size;
                line-height: 3.6rem;
                color: #2F3035;
                font-weight: bold;
                width: 436px;
            }

            & > .mainFeatures__paragraph{
                font-size: 2rem;
                line-height: 2.4rem;
                color: rgba(47, 48, 53, 0.6);
            }

            & > ul{
                padding:0;
                margin-top: 6.4rem;
                & li{
                    list-style: none;
                    display:flex;
                    flex-direction: row;    

                    & div{
                        display: flex;
                        flex-direction: column;
                        align-items:flex-start;
                        margin-left: 3.2rem;
                    }

                    & h3{
                        font-size: $h3Size;
                        margin: 0;
                    }

                    & p{
                        font-weight: normal;
                        font-size: 2rem;
                        line-height: 2.4rem;
                        color: rgba(47, 48, 53, 0.6);
                    }
                }

                & > li:nth-child(2){
                    margin-top: 3.2rem;
                }
            }
        }

        & > .mainFeatures__image{
            width:480px;
        }
    }

    & > .quote{
        @include flexible();
        flex-direction: column;
        padding-top: 10rem;
        padding-bottom: 10rem;

        & > .quote__image{
            & img{
                width: 64px;
            }
        }

        & > .quote__description{
            font-size: 3.2rem;
            line-height: 3.6rem;
            text-align: center;
            color: #2F3035;
            width: 560px;
            font-weight: 400;
            margin-top: 3.2rem;
            margin-bottom: 0;
        }

        & > .quote__author{
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 1.6rem;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #86899B;
            margin-top: 2.4rem;
            margin-bottom: 0;
        }

        & > button{
            margin-top: 6.4rem ;
            @include button();
        }
    }

    & > .grid-features{
        @include flexible();
        flex-direction: column;
        padding: 10rem 0;
    

        & > .grid-features__list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 8rem 3.2rem;

            & .grid-features__item:nth-child(1){
                & span{
                    & img{
                        width: auto;
                    }
                }
            }

            & .grid-features__item{
                @include flexible();
                align-items: flex-start;

                & span{
                    & img{
                        width: 40px;
                    }
                }

                & div{
                    display: flex;
                    flex-direction: column;
                    align-items:flex-start;
                    margin-left: 3.2rem;
                    color: #fff;

                    & h3{
                        font-size: $h3Size;
                        margin: 0;
                    }

                    & p{
                        font-weight: normal;
                        font-size: 2rem;
                        line-height: 2.4rem;
                        color: rgba(255, 255, 255, 0.75);
                    }
                }
            }
        }

        & > .grid-features__CTA{
            @include flexible();
            flex-direction: row;
            margin-top: 10rem;
            
            & > .grid-features__main{
                color: rgba(255, 255, 255, 1);

                & > p{
                    font-weight: bold;
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color: rgba(255, 255, 255, 0.75);
                }

                & > h2{
                    font-size: $h2Size;
                    width: 436px;
                }
            }

            & > .grid-features__buttons{
                @include flexible();
                flex-direction: row;
    
                & button:nth-child(1){
                    @include buttonTrans();
                    padding: 1.4rem 3.2rem;
    
                    & a{
                        @include link();
                        color: white;
                    }
                }
    
                & button:nth-child(2){
                    @include button();
                    margin-left: 3.2rem;
                    & a{
                        @include link();
                    }
                }
            }
        }
    }

    & > .footer{
        @include flexible();
        flex-direction: row;
        justify-content: space-between;
        padding: 4rem 0;

        & > p{
            font-weight: normal;
            font-size: 1.8rem;
            line-height: 2rem;
            color: #86899B;

            & > a{
                -webkit-text-decoration-line: underline;
                text-decoration-line: underline;
                color: inherit;
            }
        }
    }
    
}

main > section:nth-child(3){
    background: #2F3035;
}

